<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <a href = "/contacts">Contact List</a>
        <form action="/mailer" method="post">
            <input type="radio" name="prefix" value="Mr."> Mr. 
            <input type="radio" name="prefix" value="Mrs."> Mrs.
            <input type="radio" name="prefix" value="Ms."> Ms.
            <input type="radio" name="prefix" value="Dr."> Dr.
            <br>
            First Name <input type="text" name = "firstName">
            Last Name <input type="text" name = "lastName"> <br>
            Street <input type="text" name = "street">
            City <input type="text" name = "city"> <br>
            State
            <select name = "states">
                <option value="NJ">NJ</option>
                <option value="NY">NY</option>
                <option value="PA">PA</option>
                <option value="CT">CT</option>
            </select>
            Zip <input type="text" name = "zipc"> <br>
            Phone <input type="text" name = "phone"> <br>
            Email <input type="text" name = "email"> <br>
            How may we contact you? 
            <input type="checkbox" name="phoneCon" value="phoneCon"> Phone
            <input type="checkbox" name="mailCon" value="mailCon"> Mail
            <input type="checkbox" name="emailCon" value="emailCon"> Email
            <input type="checkbox" name="anyCon" value="anyCon"> Any
            <br>
            <input type="submit" value = "Submit">
        </form>
    </body>
</html>